# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Next.js production builds
/.next/
/out/
/build/

# Production assets & caches
.turbo/
.vercel/
.npm
/dist

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local environment configs
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# IDE and workspace files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



.turbo
/responsibility_management_system.html
tech_company_blueprint.html